<!---https://stackoverflow.com/questions/5981427/start-html5-video-at-a-particular-position-when-loading   start at particular -->
<!--https://stackoverflow.com/questions/14161516/html5-video-completely-hide-controls     hide video control css -->
<!---https://www.w3schools.com/cssref/css3_pr_filter.asp-->
<!--https://codepen.io/fatal_tsai/pen/WNbvGQv  add contrast-->

  

<div id="test">
  <video  controls #player   (onloadstart)="loadstart()" height="288" width="512"
  controls="true" autoplay="true"   (timeupdate)="onTimeUpdate($event)" >
    <source src="assets/Native.mp4" type="video/mp4">  
    <source src="star.mp4" type="video/mp4">   
    Your browser does not support the video tag.
</video>  


  <div #watermark id="watermark">
    <img src="assets/loading.gif" width="20px" height="20px">
  </div>

<div> 

<button class="transparent-button" (click)="zoomToggle(false)">-</button>
<span>{{currentZoomLevel * 100}}%</span>
<button class="transparent-button" (click)="zoomToggle(true)">+</button>


<!-- https://stackoverflow.com/questions/48365667/how-to-overlay-an-image-watermark-with-pure-css-and-html
     https://stackoverflow.com/questions/21458162/creating-watermark-using-html-and-css/21458263-->

<!--
<div class="watermarked">
  <img src="http://placehold.it/500x325.jpg" alt="Photo">
</div>
--->