.videoframe{
  overflow : hidden !important; 

}
video ::-webkit-full-screen {
    background-color: yellow;
    height: 90%;
    width: 90%;
  }
  
 
  #watermark
  {
   position:fixed;
   top:144px;
   left:256px;
   opacity:0.5;
   z-index:99;
   color:black;
   visibility: hidden;
  }
  
  video{
    overflow:hidden; 
    position: relative;
  }
