
.container{
    display: flex;
    flex-flow :row wrap;
}
.container.left{
   
}
.right{
    width: 50%;
}

app-video-control{
    top: px;
    background: #000000;
}

.spacer {
    height: 80%;
}
*{
    background-color: #001b29;
}

/*https://codepen.io/brianhernandez/pen/qaEokm*/