
.bottom{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
}
/*https://stackblitz.com/edit/angular-resizable-nnxzbf?file=app%2Fapp.component.html*/
/*angular resizable*/
.left{
    position: relative;
   
}
.right{
    position: relative;
    width: 50%;
    height: 500px;
    flex-grow:0;

}

app-video-control{
    top: px;
    background: #000000;
}

.spacer {
    height: 80%;
}
*{
    background-color: #001b29;
}

/*https://codepen.io/brianhernandez/pen/qaEokm*/