@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #001b29;
}
.scrubber {
    color: rgba(255,255,255,.9);
    font-size: 14px;
    width: 90%;
}


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: blue;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}












.controls{
    display: flex;
    position: absolute ;

}

.controls mat-slider{
    width: 4px;

}

.controls .space{
    width: 40px;
}

.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
  }


  .controls kendo-popup{
   position: absolute ;
   top:  -207px !important;
   
  }