@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #001b29;
}
button{
  border: none;
  padding: 0;
  background: none;

}
.player_bigger{
  height: 35px;
  width: 35px;
}

.scrubber {
    color: rgba(255,255,255,.9);
    font-size: 14px;
    width: 600px;
}
.scrubber mat-slider{
    width: 500px;
}

.controls{
    display: flex;
    position: absolute ;

}

.controls mat-slider{
    width: 4px;

}

.controls .space{
    width: 40px;
}

.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
  }


  .controls kendo-popup{
   position: absolute ;
   top:  -207px !important;
   background-color: #00bfff !important;
   color: blanchedalmond;
   
  }
