<div class="scrubber">

    <span class="elapsed-time">{{this.playstat["LabelcurrentTime"]| date:'mm:ss'}}</span>

    <!---         <scrubber value="{{currentTime}}" max="{{maxTime}}"></scrubber>   -->
    <mat-slider #timebar (change)="currentTimeUpdate($event)" step="0.1" 
    min="0" [max]="this.playstat['duration']" [value]="this.playstat['currentTime']"></mat-slider>

<span class="total-time">{{this.playstat["Labelduration"]| date:'mm:ss'}}</span>

    
</div>

<!---slide style :https://stackoverflow.com/questions/52339591/style-the-angular-material-slider-so-that-it-is-thicker-taller-->
<div class="controls">

    <div class="zoom-control">
       
        <button mat-button (click)=zoomout(true)>
            <mat-icon svgIcon="zoom-out"></mat-icon>
        </button>
    
        <mat-slider #zoombar step="0.2" min="0.7" max="3" (change)="zoomupdate()" [(ngModel)]="zoombarvalue"></mat-slider>
    
        <button mat-button (click)=zoomout(false)>
            <mat-icon svgIcon="zoom-in"></mat-icon>
    	</button>
    </div>
        
    <div class="space"></div>
    <!-- https://www.telerik.com/kendo-angular-ui/components/popup/ -->
     <kendo-popup [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="show">
        <span>brightness</span>
        <mat-slider #brightnessbar (change)="filterupdate()" step="0.01" min="0" max="2" [(ngModel)]="brightnessbarvalue"></mat-slider>
        <span>contrast</span>
        <mat-slider #contrastbar   (change)="filterupdate()" step="0.01" min="0" max="2" [(ngModel)]="contrastbarvalue"></mat-slider>
        <span>saturation</span>
        <mat-slider #saturationbar (change)="filterupdate()" step="0.01" min="0" max="2" [(ngModel)]="saturationbarvalue"></mat-slider>
    </kendo-popup>
    <div class="example-config">
            <button #anchor (click)="onToggle()" class="k-button">
                <mat-icon svgIcon="equalizer"></mat-icon>
            </button>
    </div>
    
    
 


    <button mat-button >
            <mat-icon svgIcon="player-first"></mat-icon>
    </button>
    <button mat-button >
            <mat-icon svgIcon="player-previous"></mat-icon>
    </button>
    <button mat-button>
            <mat-icon class="player_bigger" svgIcon="player-stop"></mat-icon>
    </button>
    <button play mat-button  (click) ="play(true)" *ngIf="!playstat['isplaying']">
            <mat-icon class ="player_bigger" svgIcon="player-play"  ></mat-icon>
    </button>

    <!--- appear when playing--->    
    <button mat-button #player_pause (click) ="play(false)" *ngIf="playstat['isplaying']">
            <mat-icon class ="player_bigger" svgIcon="player-pause"></mat-icon>
    </button>

    <button mat-button >
            <mat-icon svgIcon="player-next"></mat-icon>
    </button>
    <button mat-button >
            <mat-icon svgIcon="player-last"></mat-icon>
    </button>
    <button mat-button (click)="fullscreen()">
            <mat-icon svgIcon="fullscreen"></mat-icon>
    </button>   
    
    
    <div class="space"></div>

    <div class="volume-control">
       
        <button mat-button (click)=volumehigh(0)>
                <mat-icon svgIcon="volume-low"></mat-icon>
        
        </button>
    
        <mat-slider #volume (change)="volumehigh(-1)" step="0.01" min="0" max="1" [(ngModel)]="volumebarvalue"></mat-slider>
    
        <button mat-button (click)=volumehigh(1)>
            <mat-icon svgIcon="volume-high"  ></mat-icon>
        </button>
            <!--<div style="width: 105px;"></div>-->
    </div>
    
   

</div>

