<div class="playlist-toolbar">
  <button mat-button >
    <mat-icon svgIcon="folder_add"></mat-icon>
    <span  class="buttontext">Add Files</span>
</button>


<button mat-button >
    <mat-icon svgIcon="folder-minus"></mat-icon>
    <span class="buttontext">Remove All</span>

</button>
<button mat-button >
  <mat-icon svgIcon="playlist-save"></mat-icon>
  <span class="buttontext">Playlist Save</span>

</button>


</div>

<mat-list>
    <!---- <h3 mat-subheader>Folders</h3> --->
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line> {{folder.updated | date}} </h4>
      <p mat-line>{{folder.name}}</p>
      <mat-divider></mat-divider>

    </mat-list-item>
  </mat-list>

